@model List<ServiceReference1.MovieData>
@{
    ViewData["Title"] = "List Movies";
}

@Html.Partial("_Menu")

<div class="container">
    <h1>All Movies</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@Html.ActionLink("Edit", "#") <a href="/Admin/RemoveMovie?id=@movie.Id">Remove</a></td>
            </tr>
        }
    </table>

</div>