<!DOCTYPE html>
@{

}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Theater Client</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>

    </header>
    <section id="jumbo">

    </section>
    <section id="movielist">

    </section>
</body>
</html>