@model List<ServiceReference1.MovieData>
@{
    Layout = "_Layout";
}
    <section id="jumbo">
    </section>
    <section id="movielist">
        @foreach (var movie in Model)
        {
            <div class="movie">
                <a href="/Movie/Index?id=@movie.Id">
                    <img src="@movie.ImgPath" alt="@movie.Title banner" class="movie-banner" />
                </a>
                <h3>@movie.Title</h3>
            </div>
        }
    </section>