@model ServiceReference1.CustomerData
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Welcome @Html.DisplayFor(m => m.Name)</h1>

@using (Html.BeginForm("UpdateMail", "User"))
{
    <p>Current mail: @Html.DisplayFor(m => m.Email)</p>
    <label>New mail: </label>
    @Html.EditorFor(m => m.Email);
    <input value="Update Email" type="submit" />
}

@using (Html.BeginForm("UpdatePassword", "User"))
{
    <label>New Password: </label>
    @Html.TextBoxFor(m => m.Password)
    <input value="Update Password" type="submit"/>
}