
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="menu-container">

    <nav id="menu">

        @Html.ActionLink("Register Movie", "RegisterMovie", "Admin", null, new { @class = "menu-button" })

        @Html.ActionLink("Register Viewing", "RegisterViewing", "Admin", null, new { @class = "menu-button" })

        @Html.ActionLink("List Customers", "ListCustomers", "Admin", null, new { @class = "menu-button" })

        @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "menu-button" })

    </nav>

</div>
