
* {
    box-sizing: border-box;
}

:root {
    --colorbg: #131313;
    --colorfg: #2F2F2F;
    --colortext: white;
    --coloraccent: #8E2525;
    --coloraccentsecondary: #582121;
    --coloraccenttertiary: #A52333;
}

body {
    margin: 0;
    padding-top: 60px;
    background-color: var(--colorbg);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--coloraccent);
    z-index: 10;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

section#jumbo {
    width: 100%;
    padding-top: 25%;
    position: relative;
    background-image: linear-gradient(to top right, var(--coloraccentsecondary), var(--coloraccenttertiary));
    background-position-y:center; /* temp */
    overflow: hidden;
}

#movielist {
    display: flex; /*Möjligtvis använda grid istället.*/
}

.movie {
    width: 220px;
    height: 310px;
    border-radius: 8px;
    background: linear-gradient(206.73deg, #A52333 0%, #582121 100%);
}

.movie-banner {
    max-height: 100%;
    max-width: 100%;
}


/*Temporär CSS för Kenny */

label, h1,h2, h3, p  {
    color: white;
}
