@model Admin
@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>

@using (Html.BeginForm())
{
    <label for="username">Username</label>
    <br />
    @Html.EditorFor(m => m.Username);
    <br />
    <label for="password">Password</label>
    <br />
    @Html.PasswordFor(m => m.Password);
    <br />
    <input type="submit" value="Login" />
}

<p>@ViewBag.LoginError</p>