@model ServiceReference1.Customer
@{
    Layout = "_Layout";
}

<h1>Register new account</h1>
@using (Html.BeginForm())
{
    <label>Email:</label>
    @Html.EditorFor(m => m.Email, new {@class = "form-input", type="email", required = "required"});
    <br>

    <label>Name:</label>
    @Html.EditorFor(m => m.Name, new { @class = "form-input", type = "text", required = "required" });
    <br>

    <label>Password:</label>
    @Html.PasswordFor(m => m.Password, new { @class = "form-input", type = "password", required = "required" });
    <input type="submit" value="Register" />
}